<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UPMH BANCA - Registro</title>
    <link rel="stylesheet" href="registro.css">
    <link rel="icon" type="image/png" sizes="16x16" href="https://s3.amazonaws.com/www.codeflex.lat/documentos/f03dd06f-3df0-4831-a26e-e8daa6cbdde6/upmhLogo-removebg-preview.png">
</head>
<body>
    <div class="container">
        <h1 class="title">¿De dónde eres?</h1>

        <div class="button-group">
            <button class="nav-button" routerLink="/registro_MX">Mexicano</button>
            <button class="nav-button" routerLink="/registro_EX">Extranjero</button>
        </div>

        <div class="login-link">
            ¿Ya Tienes Cuenta? <a routerLink="/login">Login</a>
        </div>
    </div>
</body>
</html>