<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UPMH BANCA - Registro - EX</title>
    <link rel="stylesheet" href="registro-ex.css">
    <link rel="icon" type="image/png" sizes="16x16" href="https://s3.amazonaws.com/www.codeflex.lat/documentos/f03dd06f-3df0-4831-a26e-e8daa6cbdde6/upmhLogo-removebg-preview.png">
</head>
<body>

    <div class="login-container">
        <div class="logo-section"><br/>
            <img src="https://s3.amazonaws.com/www.codeflex.lat/documentos/f03dd06f-3df0-4831-a26e-e8daa6cbdde6/upmlogo.png" alt="UPMH Logo" class="logo3">
            <!--<h1 class="bank-title">BANCA UPMH</h1>-->
        </div><br/>

        <div class="container">
            <h1 class="title">Extranjeros</h1><br/>
            
            <form (ngSubmit)="registro()">
                <div class="form-row">
                    <div class="form-group">
                        <label for="nombre">Nombre:</label>
                        <div class="input-container">
                            <span class="input-icon">👤</span>
                            <input type="text" id="nombre" name="nombre" placeholder="Ingresa tu nombre" required [(ngModel)]="nombre">
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <label for="apellidos">Apellidos:</label>
                        <div class="input-container">
                            <span class="input-icon">👤</span>
                            <input type="text" id="apellidos" name="apellidos" placeholder="Ingresa tus apellidos" required [(ngModel)]="apellidos">
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="clave-pasaporte">Número de pasaporte:</label>
                    <div class="input-container">
                        <span class="input-icon">🗳️</span>
                        <input type="text" id="clave-pasaporte" name="clave-pasaporte" placeholder="Ingresa tu clave pasaporte"
                            maxlength="10" required 
                            [value]="pasaporte"
                            (input)="onpasaporte($event)">
                    </div>
                </div>

                <div class="form-group">
                    <label for="clave-pais">País:</label>
                    <div class="input-container">
                        <span class="input-icon">🗳️</span>
                        <input type="text" id="clave-pais" name="clave-pais" placeholder="Ingresa tu país de origen"
                            maxlength="18" required 
                            [value]="pais"
                            (input)="onpais($event)">
                    </div>
                </div>
                
                <div class="form-group">
                    <label for="correo">Correo Electrónico:</label>
                    <div class="input-container">
                        <span class="input-icon">📧</span>
                        <input type="email" id="correo" name="correo" placeholder="Ingresa tu correo electrónico" required [(ngModel)]="correo">
                    </div>
                </div>
                
                <div class="form-group">
                    <label for="confirmar-correo">Confirmar Correo Electrónico:</label>
                    <div class="input-container">
                        <span class="input-icon">📧</span>
                        <input type="email" id="confirmar-correo" name="confirmar-correo" placeholder="Confirma tu correo electrónico" required [(ngModel)]="confirmarCorreo">
                    </div>
                </div>

                <div class="form-group">
                    <label for="phone">Teléfono (Incluir Indicativo +):</label>
                    <div class="input-container">
                        <span class="input-icon">📱</span>
                        <input type="number" id="phone" name="phone" placeholder="Ingresa tu Teléfono" required [(ngModel)]="phone">
                    </div>
                </div>
                
                <div class="form-group">
                    <label for="contrasena">Contraseña:</label>
                    <div class="input-container">
                        <span class="input-icon">🔒</span>
                        <input type="password" id="contrasena" name="contrasena" placeholder="Ingresa tu contraseña" required [(ngModel)]="contrasena">
                    </div>
                </div>
                
                <button type="submit" class="register-button">Registro</button>
            

                <div class="login-link">
                    ¿Ya Tienes Cuenta? <a routerLink="/login">Login</a>
                </div>
            </form>
        </div>
    </div>
</body>
</html>